<h1><%= @video.name %></h1>

<div>
  <video class="video-js vjs-default-skin"
      controls preload="auto"
      data-setup='{"example_option":true}'>
      <source src=<%= "#{@video.media.url}.mp4" %> type='video/mp4' />
  </video>
</div>

<div>
  <p> <%= @video.description %> </p>
</div>
