<div class= "bodycontainer">
  <h1>About A2KS</h1>

  <div>
    <h3>Mission Statement</h3>
    <p>
      Our mission is to provide an easy to use website which allows users to
      share and view each other's short klips.  Likes and comments will
      detemine whether or not the community accepts their art.
    </p>
  </div>
  <div>
    <h3>The General Idea</h3>
    <p>
      This website was created in order to focus the creative work of users
      who wish to provide longer length than other apps.  It is intended that
      users may find this website as a jump start into creating longer and
      perhaps actual movies.
    </p>
  </div>
  <div>
    <h3>About Adam</h3>
    <p>
      Adam Kaewell is a web developer who currently works for Metis at 79
      Madison Ave. New York, New York.  He shares his love for movies and
      people through the creation of this website.  Enjoy!
    </p>
  </div>
</div>
