<div class= "bodycontainer">
  <h1>Contact Information</h1>

  <div>
    <a href="adam.kaewell.com">Personal Webpage</a>
  </div>
  <div>
    <a href="blog.adam.kaewell.com">My Blog</a>
  </div>
  <div>
    <a href="mailto:adam.kaewell@gmail.com">Email</a>
  </div>
  <div>
    <a href="https://twitter.com/akaewell" class="twitter-follow-button"
      data-show-count="false">
      Follow @akaewell</a>
    <script>
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],
        p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);
        js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js,fjs);}
      }
      (document, 'script', 'twitter-wjs');
    </script>
  </div>
</div>
