<h1>A2KS</h1>

<div>
  <% if signed_in? %>
    <%= button_to "Sign out", page_path("session"), method: :delete, class: "signout" %>
  <% else %>
    <%= button_to "Sign in", page_path("new_session"), method: :get, class: "signin" %>
    <%= button_to "Sign up", page_path("new_user"), method: :get, class: "signup" %>
  <% end %>
</div>

<div>
  <p>
    Fan Favorite Video
  </p>
  <table>
    <tr>
      <p>HTML5_VIDEO_PLAYER</p>
    </tr>
  </table>
</div>

<div>
  <h3>
    A2KS: A 2 minute Klip Share
  </h3>
  <p>
    This is a sharing website which provides a way to share video clips between 
    one and two minutes.
  </p>
</div>

