<h1>Search Results</h1>

<ul class="searchresults">
  <% videosseachdovideo = 1   %> 
    <li class="onesearchresult">
      <p> video.content </p>
      <p> video.description </p>
      <p> video.thumbnail </p>
    </li>
  <% theend = 1 %>
</ul>

