<h1>A2KS</h1>

<div class = "videoshow">
  <h2> A 2 Second Klip Share </h2>
  <video class="video-js vjs-default-skin"
    controls preload="auto"
    data-setup='{"example_option":true}'>
    <source src= "http://video-js.zencoder.com/oceans-clip.mp4"
      type='video/mp4' />
  </video>
  <h2> Fan Favorite Video </h2>
  <h2>
    This is a sharing website which provides a way to share video clips!
  </h2>
</div>
