<h1>A2KS</h1>

<div>
  <p>
    Fan Favorite Video
  </p>
  <table>
    <tr>
      <p>HTML5_VIDEO_PLAYER</p>
    </tr>
  </table>
</div>

<div>
  <h3>
    A2KS: A 2 minute Klip Share
  </h3>
  <p>
    This is a sharing website which provides a way to share video clips between 
    one and two minutes.
  </p>
</div>
