<h1>A2KS</h1>

<div class = "videoshow">
  <p> Fan Favorite Video </p>
  <video class="video-js vjs-default-skin"
    controls preload="auto"
    data-setup='{"example_option":true}'>
    <source src= "http://video-js.zencoder.com/oceans-clip.mp4"
      type='video/mp4' />
  </video>

  <h3> A2KS: A 2 Second Klip Share </h3>
  <p>
    This is a sharing website which provides a way to share video clips!
  </p>
</div>
