<div class="bodycontainer">
  <h1>A2KS: A 2 Second Klip Share</h1>

  <div class = "videoshow">
    <video class="video-js vjs-default-skin"
      controls preload="auto"
      data-setup='{"example_option":true}'>
      <source src= "http://video-js.zencoder.com/oceans-clip.mp4"
        type='video/mp4' />
    </video>
  </div>
  <h2> Fan Favorite Video </h2>
  <h3>
    This is a sharing website which provides a way to share video clips!
  </h3>
</div>
