$lightblack: #191919;

body {
  @include linear-gradient(to left, $lightblack, teal);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 5;
  max-width: 100%;
  overflow-x: hidden;
  color: black;
}

// HEADER
.header {
  @include outer-container;

  .container {
    @include align-items(center);
    @include display(flex);
    padding-bottom: (10 / 2);
    padding-top: (10 / 2);
    width: 100%;
  }

}

.video-search {
  @include align-self(center);
  @include flex(1);
  margin: 0 (10 * 1.5);

  input[type="search"] {
    margin: 0;
  }
}

.app-nav li {
  display: inline-block;
  margin-right: (5em / 2);

  &:last-child {
    margin-right: 0;
  }
}

// SideBar

.sidebar {
  text-align: right;

  
}

// Video

.videoshow {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Body

.footer, .bodycontainer {
  @include outer-container;
  padding-top: 2em;
  padding-bottom: 2em;
}

fieldset {
  @include linear-gradient(to left, $lightblack, teal);
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-color: black;
  width: 70%;
}

.form {
  width: 30%;
}

.userprofilepic {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
