body {
  @include linear-gradient(to left, darkgray, teal);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 5;
  max-width: 100%;
  overflow-x: hidden;
}

.activityfeed, .addvideo, .updateuser, .footer {
  @include outer-container;
}

.header {

  .container {
    @include align-items(center);
    @include display(flex);
    padding-bottom: (1);
    padding-top: (1);
    padding-right: (1);
    padding-left: (1);
    width: 100%;
  }

}

.app-nav li {
  display: inline-block;
  margin-right: (2);

  &:last-child {
    margin-right: 0;
  }
}

.location-search {
  @include align-self(center);
  @include flex(1);
  margin: 0;

  input[type="search"] {
    margin: 0;
  }
}

div.container {
  @include outer-container;
}

div.element {
  @include span-columns(7);
}

h1 {
  font-family: $helvetica;
  font-size: golden-ratio(30px,  1);
  @include outer-container;
  @include span-columns(9);
  @include shift(3)
}

li.block {
  @include span-columns(3);
  @include omega(4n);
}

p {
  font-family: $helvetica;
  font-size: golden-ratio(15px,  1);
}

.userprofile, .videoshow {
  @include shift(3);
}

ul {
  @include outer-container;
}

