body {
  @include linear-gradient(to left, darkgray, teal);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 5;
  max-width: 100%;
  overflow-x: hidden;
}

.activityfeed, .updateuser {
  @include outer-container;
}

 .addvideo {
   @include outer-container;
}

div.container {
  @include outer-container;
}

div.element {
  @include span-columns(7);
}

h1 {
  font-family: $helvetica;
  font-size: golden-ratio(30px,  1);
  @include outer-container;
  @include span-columns(9);
  @include shift(3)
}

li.block {
  @include span-columns(3);
  @include omega(4n);
}

p {
  font-family: $helvetica;
  font-size: golden-ratio(15px,  1);
}

.userprofile, .videoshow {
  @include shift(3);
}

ul {
  @include outer-container;
}

